<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
       <div class="center">
        
      
         <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" >
                <h4 class="card-title" layout-align="center">Modifier une Categorie</h4>
                
                <form class="forms-sample" >
                    <div class="form-group">
                        <label for="exampleInputName1">Id Categorie</label>
                        <input readonly type="text" class="form-control" [(ngModel)]="currentcat.idCat" name="idCat" placeholder="ID">
                      </div>
                  <div class="form-group">
                    <label for="exampleInputName1">Nom Categorie</label>
                    <input type="text" class="form-control" [(ngModel)]="currentcat.nomCat" name="nomCat" placeholder="nom">
                  </div>
                  <div class="form-group" >
                    <label for="exampleInputEmail3">Marque d'article</label>
                    <input type="text" class="form-control" [(ngModel)]="currentcat.descriptionCat" name="descriptionCat" placeholder="description">
                  </div>
                 
                  
          
                  <button type="submit" (click)="updateCategorie()" class="btn btn-success">Modifier</button>
                  
                </form>
              </div>
            </div>
          </div>
               </div>
              </div>
            </div>
       
          
  </div>

