<div>

    <div class="container-scroller">

                <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Liste des Articles</h3>
                                    <label>Vous avez chercher un article ?</label>
                                    <input type="text" [(ngModel)]="newArt.nomArticle" name="nomArticle" class="form-control" (input)="chercherArt()" >
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        ID
                                                    </th>
                                                    <th>
                                                        Nom article
                                                    </th>
                                                    <th>
                                                        Nombre d'article
                                                    </th>
                                                    <th>
                                                        Marque
                                                    </th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let article of articles">
                                                <tr>
                                                    
                                                    <td>
                                                        {{article.idArticle}}
                                                    </td>
                                                    <td>
                                                        {{article.nomArticle}} 
                                                    </td>
                                                    <td>
                                                        {{article.nbrArticle}} 
                                                    </td>
                                                    <td>
                                                        {{article.marque}} 
                                                    </td>
                                                    
                                                    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerArticle(article)">Supprimer</a></td>
                                                    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateArticle',article.idArticle]">Modifier</a></td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->

    <!-- page-body-wrapper ends -->
</div>